src/*.exe
src/dynasty
src/dynastyd
src/test_dynasty
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.dynasty

# Compilation and Qt preprocessor part
*.qm
Makefile
dynasty-qt
Dynasty-Qt.app

# Unit-tests
Makefile.test
dynasty-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
